<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nobile&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public//css/navbar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script>
        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;

        var pusher = new Pusher('39cc216c13dd88ef22ea', {
            cluster: 'ap1'
        });

        var channel = pusher.subscribe('my-channel');
        channel.bind('my-event', function (data) {
            alert(JSON.stringify(data));
        });
    </script>
</head>

<body>
    <div class="nav">
        <div class="container-fluid q">
            <div class="d-flex flex-row">
                <div class="imgCont" onclick="on()">
                    <!-- <img src="/public/img/menuIcon.svg" alt=""> -->
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
                <!-- PUT FORMIVA ICON HERE BESIDE MENU ICON -->
            </div>

            <div class="formivaIcon">
                <a href="/logout">
                    Formiva
                </a>
            </div>
        </div>
    </div>
    <div class="moon" id="themeBtnID"></div>
    <div class="googleIcon responsive-img">
        <img src="<%= googleIcon%>" alt="" class="responsive-img">
    </div>
    <div class="overlay-holder">
        <div class="sideNav" id="sideNavID">
            <div class="formivaIcon2">
                Formiva
            </div>
            <button type="button" class="btn-close" id="close-btn" onclick="off()" aria-label="Close"></button>
            <div class="sideNav-content">
                <a href="/dashboard">

                    <div class="overview sideNavBTN">
                        <i class='bx bx-fw bx-sm bxs-dashboard'></i>Dashboard

                    </div>
                </a>
                <a href="/form">
                    <div class="form sideNavBTN">
                        <i class='bx bx-fw bx-sm bx-detail'></i>
                        Form
                    </div>
                </a>
                <a href="/event">
                    <div class="event sideNavBTN">
                        <i class='bx bx-fw bx-sm bxs-megaphone'></i>
                        Events
                    </div>
                </a>
                <a href="/alumni">
                    <div class="event sideNavBTN">
                        <i class='bx bx-fw bx-sm bx-user'></i>
                        Alumni
                    </div>
                </a>
                <a href="/bin">
                    <div class="overview sideNavBTN">
                        <i class='bx bx-fw bx-sm bx-trash'></i>
                        Bin
                    </div>
                </a>
                <a href="/downloadables">
                    <div class="form sideNavBTN">
                        <i class='bx bx-fw bx-sm bx-download'></i>
                        Downloadables
                    </div>
                </a>
            </div>
            <footer>
                Formiva 2021
            </footer>
        </div>
        <div id="overlay" onclick="off()"></div>
    </div>


    <script>
        function on() {
            document.getElementById("overlay").style.display = "block";
            document.getElementById("sideNavID").style.left = "0";
        }

        function off() {
            document.getElementById("overlay").style.display = "none";
            document.getElementById("sideNavID").style.left = "-100%";
        }

        function sample() {
            alert('sample')
        }
    </script>
    <script src="/public/js/theme.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

</body>

</html>