<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/public/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nobile&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
        }

        .navBtn a {
            text-decoration: none;
            margin: 0 auto 0 2.5rem;
            color: black;
            padding: 0.3rem;
        }

        .navbar {
            width: 100%;
            height: auto;
            background: rgba(39, 53, 130, 1);
            align-items: center;
            position: fixed;
            top: 0;
            z-index: 5;
        }

        .icon {
            width: auto;
            cursor: pointer;
            letter-spacing: 0.15em;
            margin: 0 auto 0 0;
            font-weight: 700;
            text-align: center;
            font-family: Nobile;
            text-transform: uppercase;
            font-size: 23px;
            color: rgba(255, 255, 255, 1);

        }

        .overview {
            cursor: pointer;
            font-family: Nobile;
            font-size: 20px;
            color: rgba(255, 255, 255, 1);
        }

        .navBtn {
            display: flex;
            align-items: center;
            text-transform: capitalize;
        }

        .loginBtn {
            background: #ffffff;
            width: 100px;
            text-align: center;
            height: fit-content;
            border-radius: 5px;
            font-family: Nobile;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <div class="container-fluid">

            <div class="icon">
                Formiva
            </div>
            <div class="navBtn">
                <a href="#overview">
                    <div class="overview">
                        overview
                    </div>
                </a>
                <a href="/google">
                    <div class="loginBtn">
                        Login
                    </div>
                </a>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
    </script>
</body>

</html>