<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formiva | Alumni</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nobile&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/public/css/alumni-main.css">
</head>

<body>
    <nav>
        <div class="icon">
            Formiva
        </div>
    </nav>
    <div class="main">
        <div class="container-fluid name-section">
            <div class="container alumni-name">
                Nino Jherico V. Cocosa
                <span class="badge bg-primary">✔<span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="alumni-picture">
                            <img src="https://scontent.fmnl25-1.fna.fbcdn.net/v/t35.18174-12/p1080x2048/30546340_794627467396986_1797302931_o.jpg?_nc_cat=109&ccb=1-4&_nc_sid=ae9488&_nc_ohc=_i2Tx9xx1uoAX_My4YU&_nc_oc=AQmjcfqQjdLbg3TMr7VJ3lw1ozfH4Uti0BpkKW-pPdJBiEkp7JtsRVHrckME1_y0ekw&_nc_ht=scontent.fmnl25-1.fna&oh=1a182fe742883a816a8befe0d534ec5a&oe=611652AA"
                                alt="Jherico Cocosa">
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <button class="btn btn-primary">
                            Change Profile
                        </button>
                        <button class="btn btn-primary">
                            Edit Info
                        </button>
                    </div>
                </div>
                <div class="col">
                    <div class="alumni-details">
                        <div class="col">
                            <div class="alumni-info">
                                <h5>Alumni Information</h5>
                                <div class="container-fluid">
                                    <table>
                                        <tr>
                                            <td class="text-muted">Name</td>
                                            <td class="text-dark">Nino Jherico V. Cocosa</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Address</td>
                                            <td class="text-dark">Paharang West Batangas City</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Mobile No.</td>
                                            <td class="text-dark">09611975517</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Email Address</td>
                                            <td class="text-dark">njcocosa@gmail.com</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Course</td>
                                            <td class="text-dark">Bachelor of Science in Information Technology</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">SY</td>
                                            <td class="text-dark">2016-2017</td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="alumni-info">
                                <h5>Work Status</h5>
                                <div class="container-fluid">
                                    <table>
                                        <tr>
                                            <td class="text-muted">Name</td>
                                            <td class="text-dark">Nino Jherico V. Cocosa</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Address</td>
                                            <td class="text-dark">Paharang West Batangas City</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Mobile No.</td>
                                            <td class="text-dark">09611975517</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Email Address</td>
                                            <td class="text-dark">njcocosa@gmail.com</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Course</td>
                                            <td class="text-dark">Bachelor of Science in Information Technology</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">SY</td>
                                            <td class="text-dark">2016-2017</td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
</body>

</html>