<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" href="/public/img/menuIcon.svg" type="image/gif" sizes="16x16">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/public/css/dashboard.css">
    <link rel="stylesheet" href="/public/css/index.css">

    <!-- TABLE JQUERY -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link defer rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script defer src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

</head>

<body>
    <!-- For importing navbar -->
    <%- include('partials/navbar') %>
    <div class="nxtBTN" id="arrow-to-eventID">
        EVENT
    </div>
    <div class="response-event-container ">
        <div class="responseDash" id="responseDashID" style="text-align: justify;">
            <div class="dash-response container-fluid">
                <div class="container">
                    <!-- RESPONSE -->
                    <!-- CONTENTS HERE -->
                    <div class="row">
                        <div class='col-12 recentInfo'>
                            <h5>Recents</h5>
                            <table class="table  dt-responsive " cellspacing="0" width="100%" id="display-table">
                                <div class="row">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Img</th>
                                            <th>product name</th>
                                            <th>price</th>
                                            <th>stocks</th>
                                            <th>category</th>
                                            <th>description</th>
                                            <th>Date Modified</th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr id="data-table">
                                        <td class="tb-id">100 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>
                                    <tr id="data-table">
                                        <td class="tb-id">1 </td>
                                        <td class="tb-image">dsd %> </td>
                                        <td class="tb-name">das </td>
                                        <td class="tb-price"> das </td>
                                        <td class="tb-stocks"> dsa </td>
                                        <td class="tb-category">das </td>
                                        <td class="tb-description">dsa</td>
                                        <td>adsas </td>

                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="row">
                        <div class='col-md-3 shadow-sm formInfo'>
                            <h5>Overview</h5>
                            Title <br>

                            total number <br>

                        </div>
                        <div class="col-md shadow-sm questionInfo">
                            <div class="card">
                                <div class="card-body">

                                </div>
                            </div>
                            <h5>Questions (<%=total%>)</h5>
                            <br>
                            <div class="QCard">
                                <%sampleID.forEach(function(data){%>
                                <%var num = 1 + sampleID.indexOf(data)%>
                                <div class="QCard_data" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="Question: <%=data.title%>">
                                    <div class="QNumber"><%=num%>. <%=data.title%></div>
                                    <canvas class="chart" id="<%=data.id%>"></canvas>
                                </div>
                                <% })%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="eventDash" id="eventDashID" style="text-align: justify;">
            <div class="dash-event container-fluid">
                <div class="container">

                    <!-- RESPONSE -->
                    <!-- CONTENTS HERE -->
                    <div class="row">
                        <div class='col-12 recentInfo'>
                            <div class="card">
                                <div class="card-body">
                                    <h5>Recents</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class='col-md-3 formInfo'>
                            <h5>Overview</h5>

                        </div>
                        <div class="col-md questionInfo">
                            <h5>Questions</h5>
                            <br>
                            <div class="QCard">

                                <div class="QCard_data">

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="/public/js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>

    <%sampleID.forEach(function(data){%>

    <script>
        var ctx = document.getElementById('<%=data.id%>');
        var data = {
            labels: `<%- data.answer%>`.split(','),
            datasets: [{
                data: `<%- data.data%>`.split(','),
                backgroundColor: [
                    'rgba(255, 99, 132)',
                    'rgba(54, 12, 235)',
                    'rgba(255, 206, 86)',
                    'rgba(75, 192, 192)',
                ],

                borderWidth: 0
            }]
        }
        var config = {
            type: 'pie',
            data,
            options: {
                plugins: {

                    legend: {
                        display: false,
                        fullSize: true,
                        position: "bottom",
                        maxWidth: 0,
                        title: {
                            color: "#E7E6DD"
                        }
                    },
                    tooltips: {
                        enabled: false,
                        mode: 'label',

                    },
                },
                responsive: true
            }
        }
        var myChart = new Chart(ctx, config);
    </script>
    <% })%>

</body>

</html>