<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formiva</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/public/css/form.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/7.0.3/pusher.min.js"
        integrity="sha512-XVnzJolpkbYuMeISFQk6sQIkn3iYUbMX3f0STFUvT6f4+MZR6RJvlM5JFA2ritAN3hn+C0Bkckx2/+lCoJl3yg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>

    <!-- For importing navbar -->
    <%- include('partials/navbar') %>

    <form action="/form/<%=id%>" method="POST">
        <button class="newFormBTN" type="submit"></button>
    </form>
    <div class="container-fluid Dash" style="text-align: justify;">
        <div class="container content">
            <h5>Recents</h5>
            <h6>Grid View</h6>
            <div class="recentBox">
                <%data.forEach(function(datas){%>
                <a href="/form/recent/<%=datas.id%>">
                    <div class="form_card">
                        <div class="form_img">
                            <%=datas.title%>
                        </div>
                        <div class="formBTN">
                            <div class="deleteBTN">
                                delete
                            </div>
                            <div class="graphBTN">
                                graph
                            </div>
                        </div>
                    </div>
                </a>
                <%})%>


            </div>
        </div>


        <div class="container content">
            <h5>Recents</h5>
            <h6>List View</h6>
            <div class="recentBox tableRecent" style="display: block;">

                <table>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                    <%data.forEach(function(datas){%>

                    <tr>

                        <td> <a href="/form/recent/<%=datas.id%>"><%=datas.title%></a></td>

                        <td>0-1-17-2000</td>
                        <td>DELETE | SHOW GRAPH</td>

                    </tr>

                    <%})%>
                </table>

            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
</body>

</html>