<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formiva</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        .landingContent {
            height: fit-content;
            margin-top: 56px;

        }

        .group1 {
            width: 100%;
            height: 93vh;

            background: linear-gradient(180deg, #273582 0%, #392D71 99.98%, #223786 99.99%, rgba(255, 255, 255, 0) 100%,
                    #372E73 100%),
                linear-gradient(0deg, #223786, #223786);

        }

        .ellipse-top,
        .ellipse-bot {
            width: 100%;
            background: #fff;
            height: 150px;
            border-radius: 100%;
            /* opacity: 0.3; */
        }

        .ellipse-top {
            position: absolute;
            bottom: -12vh;
        }

        .ellipse-bot {
            position: absolute;
            bottom: -99vh;
            background: rgb(255, 255, 255);
        }

        .group2 {
            width: 100%;
            height: 90vh;
            background: rgb(255, 255, 255);
        }

        .group3 {
            background: linear-gradient(180deg, #273582 0%, #392D71 99.98%, #223786 99.99%, rgba(255, 255, 255, 0) 100%,
                    #372E73 100%),
                linear-gradient(0deg, #223786, #223786);
            width: 100%;
            height: 250px;
        }

        .group1 h1 {
            position: absolute;
            width: 100%;
            top: 160px;
            margin: auto;
            font-family: Nobile;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 56px;
            text-align: center;
            letter-spacing: 0.15em;
            color: #FFFFFF;
        }

        .group1 h2 {
            position: absolute;
            width: 100%;
            margin: auto;
            height: fit-content;
            top: 280px;
            font-family: Sansation;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.2em;
            color: #FFFFFF;
            text-shadow: 5px rgb(194, 29, 29);

        }

        .registerBtn {
            background: #ffffff;
            width: 150px;
            text-align: center;
            height: fit-content;
            border-radius: 5px;
            font-family: Nobile;
            font-size: 25px;
            position: relative;
            top: 400px;
            cursor: pointer;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: black;
            opacity: 0.1;
        }
    </style>
</head>

<body>
    <%- include('partials/navbarLanding') %>
    <div class="landingContent">
        <div class="group1">
            <div class="overlay"></div>

            <h1>FORMIVA</h1>
            <h2>
                Form Building Tool for Graduate Tracing
            </h2>
            <center>
                <div class="registerBtn">
                    Register
                </div>
            </center>



        </div>
        <div class="ellipse-top"></div>
        <div class="group2"></div>
        <div class="ellipse-bot"></div>
        <div class="group3">

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

</body>

</html>