<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formiva</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/public/css/newForm.css">
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <link rel="stylesheet" href="/public/css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/7.0.3/pusher.min.js"
        integrity="sha512-XVnzJolpkbYuMeISFQk6sQIkn3iYUbMX3f0STFUvT6f4+MZR6RJvlM5JFA2ritAN3hn+C0Bkckx2/+lCoJl3yg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="/public/js/newForm.js"></script>
    <script src="/public/js/newForm-widgets.js"></script>

</head>

<body>
    <!-- 'data' shows all forms of the user -->
    <%data.forEach(function(datas){%>
    <%if(datas.id == query_id ){%>
    <iframe name="frame" style="display:none;"></iframe>
    <form action="/form/new/realtime-data/<%=query_id%>/<%=userID%>" method="POST" target="frame">
        <div class="nav">
            <div class="container-fluid q">
                <div class="d-flex flex-row">
                    <a href="/form">
                        <div class="backBTN">
                            <i class='bx bx-md bx-left-arrow-alt'></i>
                        </div>
                    </a>

                </div>
                <div class="title-form">
                    <input type="text" autocomplete="off" value="<%=datas.title%>" name="title">
                    <span class="badge badge-primary">d</span>
                    <a href="#" class="badge badge-primary">Primary</a>
                </div>


            </div>

            <div class="moon" id="themeID" onclick=theme()></div>
            <div class="googleIcon">
                <img src="<%= googleIcon%>" alt="" class="responsive-img">
            </div>
        </div>
        </div>
    </form>

    <div class="container-fluid navDash" style="text-align: justify;">
        <div class="row">
            <div class="col-md-2 widgetSection">
                <h6>Widgets</h6>
                <ul>
                    <li draggable="true" class="drag" id="widget-radio"> Multiple Choice</li>
                    <li draggable="true" class="drag" id="widget-checkbox">Checkboxes</li>
                    <li draggable="true" class="drag" id="widget-drop">Drop Down</li>
                    <li draggable="true" class="drag" id="widget-text">Short Answer</li>
                    <li draggable="true" class="drag" id="widget-MC-Grid"> Multiple Choice Grid</li>
                    <li draggable="true" class="drag" id="widget-TB-Grid">Tick Box Grid</li>
                    <li draggable="true" class="drag" id="widget-date">Date Time Picker</li>
                </ul>
            </div>
            <div class="col-md-8 questionSection drop" id="questionSectionID">
                <%datas.questions.forEach(function(q){%>
                <!---------------------------------------------TEMPLATE FOR RADIO BUTTON ---------------------------------------------->
                <%if(q.type == "radio"){%>
                <div class="question">
                    <input class="form-control question_title" type="text" name="Question"
                        placeholder="Untitled Question" autocomplete="off" value="<%=q.title%>">

                    <%q.answer.forEach(function(answers){%>
                    <div class="form-check">
                        <input class="form-check-input" name="answer" value="option1" type="radio" disabled>
                        <input class="form-control" type="text" placeholder="Empty Field" name="value"
                            value="<%=answers.value%>" autocomplete="off">
                    </div>
                    <%})%>

                    <div id="addRadio" onclick="add_radio()">
                        ADD
                    </div>

                </div>
                <!---------------------------------------------TEMPLATE FOR CHECKBOX BUTTON ---------------------------------------------->
                <%}else if(q.type == "checkbox"){%>
                <div class="question">
                    <input class="form-control question_title" type="text" name="Question"
                        placeholder="Untitled Question" value="<%=q.title%>" autocomplete="off">
                    <%q.answer.forEach(function(answers){%>
                    <div class="form-check">
                        <input class="form-check-input" name="answer" id="flexRadioDefault1" value="option1"
                            type="checkbox" disabled>
                        <input class="form-control question_title" type="text" name="value" placeholder="Empty Field"
                            value="<%=answers.value%>" autocomplete="off">
                    </div>
                    <%})%>
                </div>
                <!----------------------------------------------- EMPTY QUESTION --------------------------------------->
                <%}else{%>
                <!-- EMPTY SIGN PUT HERE -->
                <%}%>
                <%})%>

                <div class="question" id="question-item" style="text-align: center;">
                    sample
                </div>

            </div>
            <div class="col-md-2 infoSection">
                Question Information
            </div>

        </div>
    </div>
    <%}%>
    <%})%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
    <!-- THEME -->
    <script>
        const currentTheme = localStorage.getItem("theme")
        if (currentTheme === "dark") {
            // toggleBtn.textContent= "Light Mode"
            document.documentElement.setAttribute("data-theme", currentTheme);
        }
        if (currentTheme === "light") {
            // toggleBtn.textContent= "Dark Mode"
            document.documentElement.setAttribute("data-theme", currentTheme);
        }

        function theme() {
            let isToggle = localStorage.getItem("theme") === "light";
            switch (isToggle) {
                case true:
                    localStorage.setItem("theme", "dark")
                    document.documentElement.setAttribute("data-theme", "dark");
                    document.documentElement.style.transition = "all 0.1s"
                    // toggleBtn.textContent= "Light Mode"
                    break
                case false:
                    localStorage.setItem("theme", "light")
                    document.documentElement.setAttribute("data-theme", null)
                    document.body.style.transition = "all 0.1s"
                    // toggleBtn.textContent= "Dark Mode"
                    break

            }
        }
    </script>
    <script>
        var input = document.querySelector('input'); // get the input element
        input.addEventListener('input', resizeInput); // bind the "resizeInput" callback on "input" event
        resizeInput.call(input); // immediately call the function

        function resizeInput() {
            this.style.width = this.value.length + "ch";
            this.style.maxWidth = '95%'
            this.style.minWidth = '5ch'
        }
    </script>

    <!-- IMPORTANT FOR REAL-TIME -->
    <!-- <script>
        const socket = io();
    </script> -->

</body>

</html>