* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
  overflow: hidden;
  width: 1px;
  background: black;
}
nav {
  background: pink;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  background: rgba(39, 53, 130, 1);
  align-items: center;
  z-index: 3;
}
.icon {
  width: auto;
  cursor: pointer;
  letter-spacing: 0.15em;
  margin: 0 auto 0 0;
  font-weight: 700;
  text-align: center;
  font-family: Nobile;
  text-transform: uppercase;
  font-size: 23px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 1rem;
  top: 20%;
}
.main {
  width: 100%;
  height: fit-content;
  margin-top: 50px;
}
.alumni-name {
  width: 100%;
  height: fit-content;
  position: relative;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0.5rem;
  font-family: "Open Sans", sans-serif;
}
.badge {
  font-size: 11px;
  position: absolute;
  top: 1rem;
  margin-left: 1rem;
  border-radius: 100%;
}
.name-section {
  background: white;
  border-bottom: inset 2px rgba(128, 128, 128, 0.425);
}

.alumni-picture {
  width: 100%;
  min-height: 50vh;
  padding: 1rem;
  height: fit-content;
  background: rgba(128, 128, 128, 0);
  border-radius: 0.5rem;
  inset: 0 0 0 0;
  position: relative; /*change to absolute if no relative parent*/
  z-index: 1;
}

.alumni-picture img {
  width: 100%;
  min-height: 50vh;
  object-fit: contain;
  border-radius: 0.5rem;
}

.alumni-details {
  width: 100%;
  height: fit-content;
  padding-top: 1rem;
  /* background: green; */
}
.btn {
  margin-top: 0.3rem;
}
.alumni-info {
  border: inset 2px rgba(128, 128, 128, 0.425);
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.alumni-info h5 {
  font-weight: 600;
  color: #212121;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  padding: 8px;
}
.text-dark {
  font-weight: 800;
  /* text-align: left; */
}
@media only screen and (max-width: 369px) {
}
