.response-event-container {
  z-index: 4;
  background: green;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
h5 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

.responseDash {
  margin-top: 50px;
  display: flex;
  position: fixed;
  left: 0;
  /* background: blue; */
  width: 100%;

  overflow: auto;
}

.eventDash {
  margin-top: 50px;
  display: flex;
  position: fixed;
  right: -100%;
  /* background: yellow; */
  width: 100%;
}

.dash-response,
.dash-event {
  width: 100%;
  height: 95vh;
  padding-top: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--bg-color);
  color: var(--primary-color);
  padding-bottom: 1.5rem;
}

table th {
  color: var(--primary-color);
  overflow: auto;
}
thead {
  background: var(--dashCont-hover);
  font-size: 13px;
  text-transform: uppercase;
}
#data-table {
  color: var(--primary-color);
  background: var(--dashCont-color);
}
.dataTables_filter label {
  color: var(--primary-color);
}
.dataTables_filter input {
  border-radius: 0.2rem;
  margin: 0.5rem;
  padding: 0.1rem;
  font-size: 13px;
  background: var(--dashCont-color);
  color: var(--primary-color);

  outline: none;
}
#display-table_info {
  color: var(--primary-color);
}
.nxtBTN {
  position: absolute;
  cursor: pointer;
  width: 80px;
  height: 70px;
  border-radius: 50%;
  background: green;
  bottom: 1rem;
  right: 1rem;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  display: flex;
  z-index: 2;
  opacity: 0.4;
}

.nxtBTN:hover {
  opacity: 1;
  transition: all 0.1s;
}

.scr {
  position: relative;
  height: 98%;
  overflow-y: auto;
  text-align: center;
}

.formInfo,
.recentInfo {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--dashCont-color);
  margin-bottom: 1rem;
  color: var(--primary-color);
}
.recentInfo {
  overflow: auto;
  height: fit-content;
  padding-bottom: 2rem;
}
.formInfo {
  position: sticky;
  margin-right: 1rem;
  top: 0px;
  height: 80vh;
}
.questionInfo {
  padding: 0.5rem;
  border-radius: 0.5rem;
  /* background: var(--bg-color); */
  background: var(--dashCont-color);
}
.QCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* background: green; */
}
.QCard_data {
  width: 100%;
  height: fit-content;
  margin: 0.3rem;
  padding: 0.1rem;
  /* background: var(--bg-color); */
  box-shadow: 0 0 2px 1px var(--shadow);
  border-radius: 0.5rem;
  transition: ease-in-out 0.3s;
}
canvas {
  margin: auto;
  width: 50%;
}
.QCard_data:hover {
  background: var(--hover);
  transition: ease-in-out 0.3s;
}
.tooltip .tooltip-inner {
  background: var(--primary-color);
  color: var(--dashCont-color);
}
.QNumber {
  padding: 0.4rem;
  font-weight: bold;
}

@media screen and (min-width: 280px) and (max-width: 768px) and (max-height: 900px) {
  .formInfo {
    position: unset;
    top: unset;
  }
  .QCard_data {
    width: 100%;
  }
}
