html {
  scroll-behavior: smooth;
}

h6 {
  color: var(--secondary-color);
}

.recentBox {
  width: 100%;
  height: fit-content;
  min-height: 90vh;
  margin-bottom: 1rem;
  /* background: rgba(255, 255, 255, 0.63); */
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.recentBox a {
  height: fit-content;
  text-decoration: none;
  color: black;
  /* background: black; */
}

.recentBox a:hover {
  text-decoration: none;
  color: black;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

.newFormBTN {
  position: fixed;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background: green;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}

.form_card {
  width: 200px;
  height: 250px;
  margin: 0.7rem;
  background: rgba(233, 233, 233, 0.63);
  display: grid;
  grid-template-rows: 4fr 2fr;
  padding: 0.01rem;
  border-radius: 0.1rem;
  /* border-style: solid;
        box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.212); */
  border-style: solid;
  border-width: 1px;
  border-color: rgba(122, 122, 122, 0.438);
}

.form_card:hover {
  border-style: solid;
  border-width: 1.5px;
  border-color: rgba(0, 0, 0, 0.644);
  transition: all 0.2s;
}

.form_img {
  width: 100%;
  height: 100%;
  background: rgb(206, 214, 206);
  text-align: center;
}

.form_img:hover {
  cursor: pointer;
}

.formBTN {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: auto;
  width: 100%;
  text-align: center;
}

.deleteBTN:hover,
.graphBTN:hover {
  cursor: pointer;
}
