::-webkit-scrollbar {
  width: 0px;
  z-index: 3;
  background-color: #696969;
}
/* ::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 1rem;
} */

:root {
  --nav-color: #f5f6fa;
  --bg-color: #f5f6fa;
  --primary-color: #282828;
  --secondary-color: #000000b0;
  --menu-hover: #e7e7e7;
  --sideNav-content: rgba(130, 130, 146, 0.322);
  --dashCont-color: #ffffff;
  --hover: #e4e4e440;
  --shadow: rgba(0, 0, 0, 0.253);
}
body {
  background: var(--nav-color);
}

[data-theme="dark"] {
  --nav-color: #1e1e2f;
  --bg-color: #1e1e2f;
  --primary-color: #ffffff;
  --secondary-color: #ffffffb0;
  --menu-hover: #3d3d3d;
  --sideNav-content: rgba(227, 227, 255, 0.322);
  --dashCont-color: #27293d;
  --hover: #0a0a0a2d;
  --shadow: rgba(255, 255, 255, 0.253);
}
.content {
  padding: 1rem;
  color: var(--primary-color);
  background: var(--dashCont-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.Dash {
  background: var(--bg-color);
  padding: 1rem;
  margin-top: 50px;
  min-height: 93vh;
}
