* {
  margin: 0;
}

body {
  background: var(--bg-color);
  font-family: "Segoe UI";
}

.nav {
  width: 100%;
  height: 50px;
  background: var(--nav-color);
  align-items: center;
  box-shadow: 1px 0px 1px 1px var(--sideNav-content);
  position: fixed;
  top: 0;
  z-index: 1;
}

.moon {
  position: fixed;
  right: 5rem;
  top: 0.5rem;
  background-color: var(--bg-color);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 6px solid var(--bg-color);
  transform: rotate(-120deg);
  box-shadow: inset 0px 0px var(--primary-color),
    inset 0px 9px 1px 1px var(--primary-color);
  cursor: pointer;
  z-index: 3;
}
.nav a {
  text-decoration: none;
  color: var(--primary-color);
  margin: auto 0.5rem;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);

  z-index: 2;
}

.sideNav {
  position: fixed;
  width: 280px;
  height: 100%;
  z-index: 3;
  background: var(--nav-color);
  top: 0;
  left: -100%;
  transition: ease-in-out 0.4s;
  right: 0;
  box-shadow: 1px 0px 15px 1px rgba(0, 0, 0, 0.26);
  border-color: black;
}

.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.sideNav-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-color: var(--sideNav-content);
  border-width: 1.5px;
  border-style: solid;
  border-right: none;
  border-left: none;
  margin-bottom: 0.1rem;
}

.sideNav-content a {
  color: var(--primary-color);
  text-decoration: none;
  width: 100%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  cursor: pointer;
}

.sideNav-content a:hover {
  text-decoration: none;
}

.sideNavBTN {
  padding: 0.9rem;
  margin: 0.3rem 0 0.3rem 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  cursor: pointer;
  color: var(--primary-color);
  font-family: Nobile;
  transition: ease-in-out 0.3s;
}

.sideNavBTN:hover {
  /* background: rgba(0, 0, 255, 0.192); */
  background: var(--menu-hover);
  transition: ease-in-out 0.3s;
}
.bx {
  color: var(--primary-color);
  margin-left: 0.5rem;
}

.imgCont {
  /* width: fit-content; */
  margin: 0 0 0 0;
  padding: 0.7rem;
  border-radius: 50%;
  transition: all 0.7s;
}

.imgCont:hover {
  background: var(--menu-hover);
  transition: all 0.7s;
  cursor: pointer;
}

/* .imgCont img {
            max-width: 24px;
            align-content: center;
        }
        img {
            cursor: pointer;
        } */

span {
  position: relative;
  width: 20px;
  margin: 0.2rem;
  height: 3px;
  background: var(--primary-color);
  align-items: center;
}

.line {
  display: flex;
  border-radius: 2rem;
}

.q {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.formivaIcon {
  position: absolute;
  width: 135px;
  left: 3rem;
  top: 0.8rem;
  font-weight: 700;
  text-align: center;
  font-family: Nobile;
  text-transform: uppercase;
  font-size: 22px;
  text-transform: uppercase;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.formivaIcon a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.formivaIcon2 {
  text-align: start;
  margin: 1.5rem;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  font-family: Nobile;
  text-transform: uppercase;
  font-size: 25px;
  color: var(--primary-color);
  text-align: start;
}

.googleIcon {
  width: fit-content;
  position: fixed;
  /* padding: 1rem; */
  height: fit-content;
  right: 1rem;
  top: 0.5rem;
  z-index: 3;
  text-align: center;
  cursor: pointer;
}

.googleIcon img {
  max-width: 35px;
  border-radius: 50%;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 1.5rem;
  text-align: center;
  /* margin: auto; */
}

@media only screen and (max-width: 369px) {
  .sideNav {
    width: 100%;
    box-shadow: none;
  }
}
