* {
  margin: 0;
}
.nav {
  width: 100%;
  height: 50px;
  background: var(--nav-color);
  /* align-items: center; */
  box-shadow: 1px 0px 1px 1px var(--sideNav-content);
  position: fixed;
  top: 0;
  z-index: 0;
}
body {
  color: var(--primary-color);
}
.moon {
  position: fixed;
  right: 5rem;
  top: 0.5rem;
  background-color: var(--bg-color);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 6px solid var(--bg-color);
  transform: rotate(-120deg);
  box-shadow: inset 0px 0px var(--primary-color),
    inset 0px 9px 1px 1px var(--primary-color);
  cursor: pointer;
  z-index: 3;
}
.nav a {
  text-decoration: none;
  color: var(--primary-color);
  margin: auto 0.5rem;
}
.navDash {
  margin-top: 50px;
  width: 100%;
  height: fit-content;
  z-index: 0;
  background: var(--menu-hover);
}

.backBTN {
  width: fit-content;
  padding: 0.1rem;
  border-radius: 100%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.q {
  display: grid;
  grid-template-columns: 3rem 70%;
}
.backBTN:hover {
  background: var(--menu-hover);
  transition: ease-in-out 0.3s;
}

.title-form {
  font-size: 20px;
  cursor: text;
  margin: auto 0.5rem;
}
.title-form input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem;
  background: var(--bg-color);
  color: var(--primary-color);
}
.title-form input:focus {
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--nav-color);
  /* width: 100%; */
}

.googleIcon {
  width: fit-content;
  position: fixed;
  /* padding: 1rem; */
  height: fit-content;
  right: 1rem;
  top: 0.5rem;
  z-index: 3;
  text-align: center;
  cursor: pointer;
}

.googleIcon img {
  max-width: 35px;
  border-radius: 50%;
}

.widgetSection,
.infoSection {
  position: sticky;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: none;
  border-top-right-radius: none;
  background: var(--dashCont-color);
  top: 51px;
  height: fit-content;
  padding: 0;
}
.widgetSection ul {
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  padding: 0.1rem;
}
.widgetSection li {
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.2rem;
  transition: ease-out 0.3s;
  background: rgba(0, 128, 0, 0.11);
}
.widgetSection li:hover {
  background: rgb(15, 148, 15);
  transition: ease-in 0.3s;
  cursor: pointer;
}

.questionSection {
  /* background:green; */
  height: fit-content;
  min-height: 95vh;
  padding: 1rem;
  margin-top: 0.5rem;
}
.question {
  width: 80%;
  margin: auto auto 0.5rem auto;
  border-radius: 0.5rem;
  background: var(--dashCont-color);
  height: fit-content;
  padding: 1rem;
}
.question .question_title {
  margin-bottom: 0.5rem;
}
.form-check {
  justify-content: space-around;
  align-items: center;
  display: block;
}
.form-check-input {
  font-size: 20px;
  align-self: center;
  margin: 0.5rem;
}
/* @media screen and (min-width: 280px) and (max-width: 768px) and (max-height: 900px) { */
@media only screen and (max-width: 369px) {
  .widgetSection {
    display: none;
  }
}
